*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
}

.header__row {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

.header__home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__home a {
  margin: 5px;
  color: #FFFFFF;
}
.header__home:hover a {
  color: #B9B9B9;
}

.header__home__list {
  display: none;
}

@media (max-width:767px) {
  .header__home__list {
    display: block;
  }
  .header__nav {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
  .header__profile__username {
    display: none;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav__item, .header__profile__username {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin: 12px;
  text-decoration: none;

  color: #B9B9B9;
}
.header__nav__item:hover {
  color: #FFFFFF;
}

.header__profile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
}
.header__profile__container div {
  color: #FFFFFF;
}
.header__profile__container:hover div {
  color: #B9B9B9;
}
